{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/caged.css' %}">
</head>
<body class="bg-dark">
  <div class="col-md-6">
     <h1 class="text-warning oyna">Django Örnek Form</h1>

     {% if messages %}
     <div class="alert alert-success alert-dismissible fade show ml-4" role="alert">
        <strong>
          {% for message in messages %}
               <li>{{ message }}</li>
          {% endfor %}
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
      </div>  
  {% endif %}
    <form class="text-center text-white" method="post">
         {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlInput1" class="text-danger">İsim Soyisim</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="isim">
              {% if form.isim.errors %}
                  <small class="text-light"><b>{{form.isim.errors}}</b></small>
              {% endif %}
          </div>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="text-danger">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email" required>
           {% if form.email.errors %}
               <small class="text-light"><b>{{form.email.errors}}</b></small>
           {% endif %}
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1" class="text-danger">Bir meslek Seciniz</label>
          <select class="form-control" id="exampleFormControlSelect1" name="meslek" required>
              <option value="{{form.meslek}}"></option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="text-danger">Metin Mesajı</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="mesaj" rows="3" required></textarea>
        </div>
        <button class="btn btn-danger" type="submit">Gönder</button>
      </form>
    </div>
    


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>