.form-group{
font-size:large;
margin-left:50px;
margin-top:40px;
font-family:'Courier New', Courier, monospace;
}
.oyna{
    margin-left:105px;


}

option{

    color:darkblue;
    font-weight: bold;
}

